

h1{
    color: black;
    width: 100%;
    background-color: plum;
    text-align: center;
    

}
body{
    background-color: thistle;
    
}
#profile{
    background-color: ghostwhite;
}
.info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
    
main{
    color: black;
    width: 100%;
    background-color: plum;
    text-align: center;

}
img{
   border-radius: 50%;  
}
.estudios{
    background-color: paleturquoise;
   width: 330px;
   height: 220px;
 
}
.imagen{
    text-align: center;
   

}
.habi{
    background-color: aquamarine;
    width: 330px;
    height: 220px;
    
   
}
.experiencia{
    background-color: paleturquoise;
    width: 330px;
    height: 220px;
}
.skills{
    background-color: aquamarine;
    width: 330px;
    height: 220px;
}